# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
env/

# Distribution / Installer
dist/
build/
*.spec

# Application Specific
prev.wav
last_state.json
favs.json
keybindings.json
Settings/
Snapshots/
wav/
*.wav
!prev.wav

# Logs
*.log
